@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */

  /* Primary */

  --Cyan: hsl(180, 66%, 49%);
  --Grayish-Cyan: hsl(180, 66%, 68%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary */

  --Red: hsl(0, 87%, 67%);

  /* Neutral */

  --Gray: #F8F8F8;
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  /* Background */

  --bg-shorten-mobile: url('../assets/images/bg-shorten-mobile.svg');
  --bg-shorten-desktop: url('../assets/images/bg-shorten-desktop.svg');

  --bg-boost-mobile: url('../assets/images/bg-boost-mobile.svg');
  --bg-boost-desktop: url('../assets/images/bg-boost-desktop.svg');
}

/* * {
  border: solid 1px red;
} */

html {
  background-color: var(--Gray) !important;
}

.menu-lg {
  background-color: var(--Dark-Violet);
}

.hero {
  background-color: #fff;
}

.custom-form {
  background-color: var(--Dark-Violet);
  background-image: var(--bg-shorten-mobile);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.shorten-btn, .boost-btn, .hero-btn, .copy-btn {
  background-color: var(--Cyan);
  transition: all 0.3s ease-in-out;
}

.shorten-btn:hover, .boost-btn:hover, .hero-btn:hover, .copy-btn:hover {
  background-color: var(--Grayish-Cyan);
}

.card-logo-container {
  background-color: var(--Dark-Violet);
}

.boost-bar {
  background-color: var(--Dark-Violet);
  background-image: var(--bg-boost-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

footer {
  background-color: var(--Very-Dark-Violet);
}

.attribution { font-size: 12px; text-align: center;}
.attribution a { color: var(--Cyan); }

/* Responsive Design */
@media screen and (min-width: 1440px) {
  .custom-form {
    background-image: var(--bg-shorten-desktop);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .boost-bar {
    background-color: var(--Dark-Violet);
    background-image: var(--bg-boost-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}